.navbar {
    padding: 12px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-bottom: 4px solid #be8734;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: linear-gradient(45deg, #07203e, #13396e);
    color: white;
}

.logo a {
    color: #f1f1f1;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.logo a:hover {
    color: #be8734;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 8px;
    font-size: 17px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s ease;
}

.navbar a:hover {
    color: #07203e;
    background-color: #f1f1f1;
}

.logo-navbar {
    height: 55px;
}

.btn-logout {
    background-color: #7f0808;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #a61f1f;
}
